* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


@font-face {
 font-family: KyivBold;
 src: url("../fonts/Kyiv*SansBeta-Bold.ttf");
}
@font-face {
 font-family: KyivRegular;
 src: url("../fonts/Kyiv*SansBeta-Regular.ttf");
}

header {
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: center

}
header h1 {
	text-align: center;
	font-family: KyivBold;
	color: #FFFFFF;
	padding:15px;
	border-radius: 15px;
	background-color: #6D00FF;
	transition: 0.3s;

}
header h1:hover {
	color: #6D00FF;
	background-color: #FFFFFF;
}

div.row {
	width: 90%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	background-color: #6D00FF;
}




.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #6D00FF;
	border-radius: 15px;
	transition: 0.3s;
}

.container:hover {
	background-color: white;
}

.container:hover p.kitchen{
	border-color: white;
	background-color: #6D00FF;
	color:white;
}

.container:hover p.description{
	color: #6D00FF;
}



p.kitchen {
	position: absolute;
	top:0px;
	right: 0px;
	color: #6D00FF;
	padding: 15px;
	background-color: white;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border: 3px solid #6D00FF;
	font-family: KyivBold;
	transition: 0.3s;

}

p.description {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	font-family: KyivBold;
	color: white;
	transition: 0.3s;
}

div.title {
	position: relative;
	width: 100%;
	height: 70px;
}

/* Desktop */
@media (min-width: 992px) 
{
.col-lg-4  {
	width: 33.3%;
	float: left;
	padding: 10px;

}

}

/* Tablet*/
@media (min-width:768px) 
and (max-width: 991px) {
.col-md-6  {
	width: 50%;
	float: left;
	padding: 10px;
}
.col-md-12  {
	width: 100%;
	float: left;
	padding: 10px;
}

.col-md-12 .container {
	width: 95%;
}
}

/* Mobile*/
@media (max-width : 767px) {
	.col-xs-12  {
	width: 100%;
	float: left;
	padding: 10px;
}
/* Styles */
}



